<%- include('../partials/header') %>

<h1>Chatr</h1>

<form id="new-message">
  <input name="username" type="text" placeholder="Username..." />
  <textarea name="content" type="text" placeholder="Type your message..."></textarea>
  <input type="submit" value='Post Message' />
</form>

<div>
  <a id="all" href="all">All Messages</a>
  <a id="flagged" href="flagged">Flagged</a>
  <a id="unflagged" href="unflagged">Not Flagged</a>
  <ul id="messages"></ul>
</div>

<%- include('../partials/footer') %>
